@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PawsitivePets!</h1>
    <p>We're building this site using ASP.NET Core for COMP2084 in Fall 2021 at Georgian College.</p>
</div>
